<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro no Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div class="login-container">

    <div class="login-image-logo-container">
        <img th:src="@{/images/login.png}" alt="Abaporu GALO DOIDO">
    </div>

    <div class="login-form">

        <div class="error-content">

            <h4 class="login-title">Ops!</h4>

            <p class="error-message">
                Não foi possível realizar o login.
            </p>

            <p class="error-description">
                Verifique seu usuário e senha e tente novamente.
            </p>

            <div class="login-button-container">
                <a th:href="@{/login}" class="error-button">
                    Tentar novamente
                </a>
            </div>

        </div>

    </div>

</div>

</body>

</html>